<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
    	<title>Add Restaurant</title>
    	<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<link rel="stylesheet" th:href="@{/css/common.css}">
    	<link rel="stylesheet" th:href="@{/css/admin-form.css}">
	</head>
	<body>		
		<div class="container admin-form-container">
    		<h2>Add Restaurant</h2>
    		<form th:action="@{/admin/restaurants/add}" th:object="${restaurant}" method="post">

        		<div class="form-group">
            		<label for="name">Name</label>
            		<input type="text" th:field="*{name}" id="name" required>
        		</div>

        		<div class="form-group">
            		<label for="cuisine">Cuisine</label>
            		<input type="text" th:field="*{cuisine}" id="cuisine" required>
        		</div>

        		<div class="form-group">
            		<label for="location">Location</label>
            		<input type="text" th:field="*{location}" id="location" required>
        		</div>

        		<div class="form-actions">
            		<button type="submit" class="btn btn-primary">Save</button>
            		<a th:href="@{/admin/restaurants}" class="cancel-button">Cancel</a>
        		</div>
    		</form>
		</div>
	
		<div th:replace="~{fragments/footer :: footer}"></div>
	</body>
</html>